
<h4>Lexus</h4>

<div class="container">
  <div class="span5">
    <ul>
      <li>General</li>
      <ul>
        <li>Talk about the DITE process and specify which part of the process the Lexus campaign touches on. Show them the key features of the campaign.</li>
        <li>Show how information is presented; interactive demonstration of units and focus on their benefits and how they work.</li>        
        <li>Focus on how Moontoast can help nurture and engage fans and take them through DITE using interactive units</li>
      </ul>
      <li>Pain Point: Brand Awareness</li>
      <ul>
        <li>Show how the ad drives brand awareness through Discover (for those who don’t know Lexus well) and promotes Interaction (showing off the car)</li>
        <li>Lexus campaign targeted specific demographics and types of people, highlight that.</li>
        <li>Focus on how the advantages of these interactive units over standard Facebook ads </li>
          <ul>
            <li>What MORE can you do with these units and how are they unique?</li>
          </ul>
      </ul>
      <li>Pain Point: Conversion</li>
      <ul>
        <li>Focus on the results of the campaign</li>
        <ul>
          <li>KPIs - conversion rate, site visits, etc</li>
          <li>How do the results compare to your current engagement statistics?</li>
        </ul>
        <li>Working with Others</li>
        <ul>
          <li>Show how this Lexus campaign has driven sales and lead generation</li>
        </ul>
      </ul>
     </ul>
  </div>
  
  <div class="span5">
    <a href="#case-study-modal" data-toggle="modal"><%= image_tag "Lexus-campaign-CaseStudy.png", :class => 'case-study-img' %></a>
  </div>

    <div id="case-study-modal" class="modal hide fade" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <%= image_tag "Lexus-campaign-CaseStudy.png" %>
      </div>
    </div>

 </div>