
<h4>Lexus</h4>


<ul>
  <li>General</li>
  <ul>
    <li>Briefly talk about the goals of the campaign (in relation to DITE) and the strategy implemented. Show them what they would be paying for</li>
  </ul>
  <li>Pain Point: Concerned about ROI and measuring the impact of company investment</li>
  <ul>
    <li>Focus on the results</li>
    <li>What are the results for the Lexus campaign? What was the goal?</li>
    <ul>
      <li>Use KPIs (conversion rate, click-throughs, site visits, etc) to illustrate marketing</li>
    </ul>
  <li>How do the Lexus results compare to what you’re currently using?</li>
  </ul>
  <li>Pain Point: Retaining clients and keep them coming back</li>
  <ul>
    <li>Focus on E in DITE process by featuring units that focus on endorsement and show the returns. </li>
    <li>In the Lexus ad, is it possible to show how the views/clicks/impressions affected buyers? (might be hard since people don’t buy cars often)</li>
  </ul>



  

 









  <!-- <li>Pain point: CMO concerned about ROI </li>
  <ul>
    <li>Briefly talk about the goals of the campaign (in relation to DITE) and the strategy implemented. Show them what they would be/are paying for</li>
    <li>Really focus on the results</li>
    <ul>
      <li>What are the results?</li>
      <li></li>
    </ul>
  </ul>
 --></ul>