
<h4>Lexus</h4>

<div class="container">
  <div class="span5">
    <ul>
      <li>General</li>
      <ul>
        <li>Briefly talk about the goals of the campaign (in relation to DITE) and the strategy implemented. Emphasize more how the ad contributed in the Discovery and Interaction phase</li>
      </ul>
      <li>Pain Point: Concerned about contents creating tools and measuring the impact of company investment</li>
      <li>Reason why this case is useful to creative agency</li>
      <ul>
        <li>Focus on how the Lexus ad was DIFFERENT from other facebook ads.</li>
        <li>Show how many information can be added in a small ad campaign (photo, video, key specs, links to other websites for more detail, etc). </li>
        <li>How did the ad attract public attention in a short period time. (100K video views in 10 min)</li>
      </ul>
     </ul>
  </div>
  
  <div class="span5">
    <a href="#case-study-modal" data-toggle="modal"><%= image_tag "Lexus-campaign-CaseStudy.png", :class => 'case-study-img' %></a>
  </div>

    <div id="case-study-modal" class="modal hide fade" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <%= image_tag "Lexus-campaign-CaseStudy.png" %>
      </div>
    </div>

 </div>