
    <ul>
      <li>New position, exists in both agencies and companies directly.</li>
      <li>Responsible for driving social initiatives and voice of company/agency.</li>
      <li>The voice of the company; finding loyal consumers</li>
      <li>Typically not working with budget, but an influencer; not the one to say YES, but can say NO.</li>
      <li>Typically reports to CMO, Marketing Director, etc</li>
    </ul>

  <!-- 

  <h4>What do Social Strategists do?</h4>
    <ol>
      <li>Deliver business goals using easy-to-use and extensive platforms</li>
      <li>Want to get social consumers to care about their client’s brand and to take them through the DITE process</li>
      <li>In other words, she wants to drive awareness, intent, transaction and endorsement</li>
    </ol>

  <h4>How do Social Strategists work?</h4>
    <ol>
      <li>Deliver business goals using easy-to-use and extensive platforms</li>
      <li>Want to get social consumers to care about their client’s brand and to take them through the DITE process</li>
      <li>In other words, she wants to drive awareness, intent, transaction and endorsement</li>
    </ol>

  <h4>How does she do it?</h4>
    <ol>
      <li>Client presentations, planning/creative/partner relations, thought leadership (speeches, teaching crash courses), community and content management</li>
      <li>Works with communities to understand and ensure content’s performance.</li>
    </ol>

  <h4>Accountability</h4>
    <ol>
      <li>She reports to the CMO, often does not make final decisions but can sway opinion.</li>
      <li> Limited funding, but goal is NOT to drive ROI, but to engage users/followers and make them care about the product</li>
    </ol>


  <h4>How should she do this?</h4>
    <ol>
      <li>Need to WOW the clients in order to get clients to care about product.</li>
      <li>Must guide them through DITE process using marketing strategies (community engagement/management)</li>
    </ol>


    <h4>Specific strategies?</h4>
      <ol>
        <li>Show off how information is presented; interactive demonstration of units and focus on their benefits and how they work.</li>
        <li>Specifically focus on DITE process and how Moontoast can help nurture and engage fans and take them through DITE using interactive units</li>
      </ol> -->
