
  <ul>
    <li>Overseas entire marketing operation</li>
    <li>Responsible for advertising, brand awareness, public relations, seeking new technologies, and partnerships</li>    
    <li>Responsible for assessing which strategies are working</li>
    <li>Primary point of contact for all business development</li>
    <li>Usually have at least 10 years’ experience, and often a graduate degree</li>
  </ul>

  




