

    <ul>
      <li>3rd party service providers that help marketing department of companies.</li>
      <li>Responsible for suggesting/creating innovative ad campaigns for companies.</li>
      <li>CAs may or may not have their own budget to buy other marketing tools.</li>
      <li>Although CA can be a decision maker, in our study, we will assume that CAs are influencer.</li>
    </ul>

  <!-- 

  <h4>What do Creative Agencies do?</h4>
    <ol>
      <li>Create ad campaign that would grab attention from public (top of the marketing funnel (or Discovery stage in DITE).</li>
      <li>Creative agencies want to create eye catching ads, genuine contents, ads with wow factors. They also like to have tools that can be modifiable easily.</li>
    </ol>

  <h4>How do Creative Agencies work?</h4>
    <ol>
      <li>CAs suggest new ideas to the companies and once the ideas are approved, publish.</li>
      <li>Use their own platform or use others’ platform (i.e. MT) to create creative ads.</li>
    </ol>

  <h4>What MT can help the creative agencies?</h4>
    <ol>
      <li>How each of MT’s ad is unique among not only other ads but also MT ads. Introduce many kinds of platforms.</li>
      <li>Provide case studies, educational resources that how to be creative in social media.</li>
      <li>Show how MT’s products are optimized to mobile devices.</li>
      <li>Flexible platforms that are easily modifiable to agencies’ needs.</li>
    </ol>

  <h4>What can MT do?</h4>
    <ol>
      <li>Approach to them in creative ways! i.e. posting ads of MT to the targeted creative agencies (such as the guy got his job through google ads).</li>
      <li>Help them to beef up their portfolio with unique platforms . Any partner companies that are focusing on “creative” products?</li>
    </ol>

 -->



