<div class="container">

  <div class="pull-left">
    <%= image_tag "Toast-Person-CMO.jpg", :class => 'toast-person-img' %>
  </div>

  <div class="pull-left">
    <h4 class="profile-name">CMO Chris</h4>
      <ul class="profile-info">
        <li>Oversees the entire marketing operation</li>
        <li>Responsible for building company identity for the long term</li>    
        <li>Responsible for creating marketing initiatives that influences sales</li>
        <li>Primary point of contact for all business development</li>    
        <li>Has the final decision in strategy</li>
        <li>Usually have at least 10 years’ experience, and often a graduate degree</li>
        <li>CMOs like referrals from social media experts</li>
      </ul><!-- end list for cmo profile -->
  </div>

</div>