

<div class="container">

  <div class="pull-left">
    <%= image_tag "Toast-Person-CMO.jpg", :class => 'toast-person-img' %>
  </div>

  <div class="pull-left">
     <%= link_to "<i class='icon-edit'> edit</i>".html_safe, edit_profile_path(@profile), :class => 'btn edit-btn' %>
    <h4 class="profile-name">CMO Chris</h4>
      <div class="profile-info">
      <%= markdown(@profile.description) %>
      </div><!-- end list for cmo profile -->
  </div>


</div>