
<div class="description-container">
  
  
  <%= link_to edit_btn("edit"), edit_profile_path(@profile), :class => 'btn btn-small edit-btn' %>

  <div class="description-img">
    <%= image_tag @profile.img_url, :class => 'toast-person-img' %>
  </div>


  <div class="description-text">
    <h4 class="profile-title"><%= @profile.title %></h4>
      <div class="profile-info">
      <%= markdown(@profile.description) %>
      </div><!-- end list profile info -->
  </div><!-- end list profile description -->
  

  
</div>