
<div class="container">

  <div>
     <%= link_to "<i class='icon-edit'> edit</i>".html_safe, edit_profile_market_datum_path(@profile.market_data), :class => 'btn edit-btn' %>
    <% @market_datum.each do |market_datum| %>
    <h4 class="market-data-title"><%= market_datum.title %></h4>
      <div class="market-data-info">
      <%= markdown(market_datum.description) %>
      </div><!-- end list for cmo market data -->
    <% end %>
  </div>


</div>


