
  <h4>Pain points</h4>
    <ul>
      <li>Brand Awareness</li>
      <ul>
        <li>How do we drive consumer brand awareness?</li>
        <li>How do we convince a potential client that we can offer more than our competitor?</li>
      </ul>
      <li>Conversion</li>
      <ul>
        <li>How do we get potential customers to become clients and care about our product?</li>
        <li>How do I convince the CMO or CEO the ROI of my campaigns?</li>  
      </ul>
      <li>Working with Others</li>
      <ul>
        <li>How do I integrate social with lead generation and sales? </li>
        <li>How can social enhance overall marketing campaign and align with company goals?</li>
      </ul>
    </ul>








