

  <h4>Pain points</h4>
    <ul>
      <li>Too many limitations for creativity within social media ad campaigns platforms</li>
      <li>How can we stand out and provide our clients with creative ads they can’t get anywhere else?</li>
      <li>Don’t have enough market data on user demand</li>
      <li>How to measure ROI - difficult to quantify the performance</li>
   </ul>