<div class="misc-resources-container">
  <ul>
  <% @misc_resources.each do |misc| %>
    
      <li><%= link_to 'Go to', "http://#{misc.link_url}", :target=> "_blank" %> <%= misc.description %> <%= link_to delete_btn, misc_resource_path(misc), :method => :delete, :confirm => 'Are you sure?' %></li>

  <% end %>
  </ul>
  <p><%= link_to add_btn(" Add resource"), new_misc_resource_path, :class => 'btn btn-small add-btn' %></p>
</div>