<h4>Sample script for CMO</h4>

</br>
<div class="sample-script">

    <p>Hi [CMO],</p>

    <p>I’m emailing you today because I want to help increase your social media ROI. Moontoast has been experiencing great success in creating engaging, rich media units on Facebook, most notably with the launch of the 2014 Lexus IS and IS F Sport, which reached 100k video views in 10 minutes by integrating the unit into the newsfeed.</p>

    <p>If you have the time, I’d love to discuss how our interactive units can help you reach your marketing goal and what we could specifically do for [COMPANY]. Do you have any time this week or next for a quick call?
    </p>

    <p>All the best,</p>

    <p>[NAME]</p>
</div>