<h4>Script highlights</h4>

<div>
  <ul>
    <li>How each of MT’s ad is unique among not only other ads but also MT ads. Introduce many kinds of platforms.</li>
    <li>Provide case studies, educational resources that how to be creative in social media.</li>
    <li>Show how MT’s products are optimized to mobile devices.</li>
    <li>Flexible platforms that are easily modifiable to agencies’ needs.</li>
  </ul>
</div> <br/>

<h4>Sample script for Creative Agency</h4>

</br>
<div class="sample-script">

    <p>Hi [Creative Agency],</p>

    <p>I’m contacting you today because I want to introduce a new social media creating platform. Moontoast has been experiencing great success in creating engaging, rich media units on Facebook, most notably with the launch of the 2014 Lexus IS and IS F Sport, which showed photo, video, and key specs in the facebook ad, and reached 100k video views in 10 minutes by integrating the unit into the newsfeed.</p>

    <p>If you have the time, I’d love to discuss how our interactive units can help you reach your marketing goal and what we could specifically do for [CREATIVE AGENCY]. Do you have any time this week or next for a quick call?</p>

    <p>All the best,</p>

    <p>[NAME]</p>
</div>