<h1>Welcome to the App</h1>

<div id="home-btns">
  
  <div><%= link_to 'CMO', '#', :class => 'btn btn-large btn-block' %></div></br>
  <div><%= link_to 'Social Strategist', '#', :class => 'btn btn-large btn-block' %></div></br>
  <div><%= link_to 'Creative Agency', '#', :class => 'btn btn-large btn-block' %></div>



</div>