<h1>Welcome to the App</h1>

<div id="home-btns">
  
  <% @profiles.each do |p| %>
  <div><%= link_to p.name, profile_path(p.id), :class => 'btn btn-large btn-block' %></div></br>
  <% end %>



</div>