<div id="faqs-container" class="container">
<%= link_to back_btn, :back, :class => 'btn' %>
  <h2>Edit or add to the knowledge database</h2>

  <%= render "form" %>

</div> <!-- end faqs container -->