
<%= link_to back_btn(), :back, :class => 'btn back-btn' %>
<div id="platform-story-container" class="container">


  <h2>Create a <%= @profile.name %> platform story</h2>

  <div id="platform-story-form">

      <%= render 'form', :url => profile_platform_stories_path %>

  </div>


</div>