
<%= link_to back_btn(), :back, :class => 'btn back-btn' %>
<div id="case-studies-container" class="container">


  <h2>Add a <%= @profile.name %> case study</h2>

  <%= render 'form', :url => profile_case_studies_path %>

</div>