// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin-top: 80px;
  background: rgba(54, 54, 54, .1);
  //#ebe8df;
  // #7d7d7b;
}




h1, h2, h3, h4, h5, h6 { 
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #545454; //#2c2c2c;
  font-weight: normal;
}

p, ol, ul, li {
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #545454; //#2c2c2c;

}

p {
  font-size: .8rem;
  line-height: 1.7rem;
}

ol, ul {
  font-size: .8rem;
  line-height: 1.7rem;
}

// li {
//   font-size: .9em;
//   line-height: 1.7em;
// }


table {
  background-color: #ebe8df;
  border-color: #cc4326;
}


h1 {
  font-size: 33px;

}

h2 {
  font-size: 1.75rem;
}

// h3 {
//   font-size: 2em;
//   letter-spacing: .05em;
// }

h4 {
  font-size: 1.5em;
 }


button {
  background-color: #cc4326;
}

#home-main-container{
  text-align: center;
}

#home-btns {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

div.navbar-inner {
  opacity: .9;
}

div.navbar-inner a.brand {
  padding-left: 13%;
}



.nav {
  font-size: 20px; 
  margin-top: auto;
  margin-bottom: auto;
  opacity: .5;
}

.navbar .nav {
  margin-top: 20px;
  margin-left: 15px;
}

#main-page-container {
  background-color: #ffffff;
  max-width: 900px;
  padding-left: 2em;
  padding-right: 2em;
}



ul.profile-info {
  padding-left: 1.5em;
  // list-style: none;
} 

#profile-title {
  text-align: center;
}

.profile-name {
  padding-left: 1.3em;
}


.main-section {
  // background-color: #426874;
  color: #545454; //#ebe8df;
  border-bottom: 1px solid rgba(54, 54, 54, .1);
  // border-radius: 5px;
}

h2.main-section {
  padding-left: .5em;
}

.info-drop-down {
  color: #2c2c2c;
  background-color: #ffffff;
  margin-left: 1em;
}
.case-study-img {
  height:auto; 
  width:auto; 
  max-width:300px;
  padding-left: 10px;
  padding-top: 20px;
  border-color: #426874;
  // border-radius: 15px; 
}
.toast-person-img {
  height: 170px;
  width: auto;
  margin-left: 10px;
  // padding-top: 20px;
  border: solid 2px #426874 ;
  // border-color: #426874;
  border-radius: 5px;
}

.sample-script {
  margin-left: 10%;
  margin-right: 15%;
}

#units-table{
  width:700px;
  margin-left: auto;
  margin-right: auto;
}

a:link {
  color:#cc4326;
  text-decoration:none;
}      /* unvisited link */
a:visited {
  color:#cc4326;
  text-decoration:none;
}  /* visited link */
a:hover {
  color:#68a095;
  text-decoration:none;
}  /* mouse over link */
a:active {
  color:#426874;
  text-decoration:none;
}  /* selected link */



